
[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = 120
tab_width = 4
trim_trailing_whitespace = true

[*.feature]
indent_size = 2

[*.haml]
indent_size = 2

[*.less]
indent_size = 2

[*.proto]
indent_size = 2
tab_width = 2

[*.sass]
indent_size = 2

[*.scss]
indent_style = tab

[*.styl]
indent_size = 2

[{*.bash,*.sh,*.zsh}]
indent_size = 2
tab_width = 2

[{*.har,*.jsb2,*.jsb3,*.json,.babelrc,.eslintrc,.stylelintrc,bowerrc,jest.config}]
indent_size = 2

[{*.pb,*.textproto}]
indent_size = 2
tab_width = 2

[{*.yaml,*.yml}]
indent_size = 2
