# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

config/gcloud
config/configstore/snyk.json
config/spot*
config/syncthing
config/nvim/node_modules
config/nvim/plugged
config/nvim/package*
node_modules
package*
yarn*
vim/plugged

gitconfig_*
config/nvim/plugin/packer_compiled.lua
config/containers config/containers
secrets
config/containers

config/raycast
config/raycast/extensions/5fdb86d3-dfcc-45a7-8969-8113b51434ab
config/testcontainers/services
