window {
  font-family: "FiraCode Nerd";
  font-size: 12px;
  margin: 0px;
  border: 1px solid #7daea3
  border: none;
  background-color: #1d2021;
  border-radius: 16px;
}

#input {
  all: unset;
  min-height: 36px;
  padding: 4px 10px;
  margin: 4px;
  border: none;
  color: #ebdbb2;
  font-weight: bold;
  background-color: #1d2021;
  outline: none;
  border-radius: 16px;
  margin: 10px;
  margin-bottom: 2px;
}

#inner-box {
  margin: 4px;
  padding: 10px;
  font-weight: bold;
  border-radius: 16px;
}

#outer-box {
  margin: 0px;
  padding: 3px;
  border: none;
  border-radius: 16px;
  border: 1px solid #7daea3;
}

#scroll {
  margin-top: 5px;
  border: none;
  border-radius: 16px;
  margin-bottom: 5px;
}

#text {
  color: #ebdbb2;
  border-radius: 16px;
}

#text:selected {
  color: #1e1e2e;
  margin: 0px 0px;
  border: none;
  border-radius: 16px;
}

#entry {
  margin: 0px 0px;
  border: none;
  border-radius: 16px;
  background-color: transparent;
}

#entry:selected {
  margin: 0px 0px;
  border: none;
  border-radius: 16px;
  background: #89b482;
}