"*":
  "atom-beautify":
    general:
      _analyticsUserId: "953a8d87-b79f-409d-bea8-cf2e51fe6fa1"
  core:
    disabledPackages: [
      "build-powershell"
    ]
    projectHome: "/Users/Lars/Dropbox/Git/"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "nord-atom-syntax"
    ]
    titleBar: "custom"
  editor:
    fontSize: 15
    preferredLineLength: 100
    showIndentGuide: true
    softWrap: true
  "exception-reporting":
    userId: "d37b4997-4005-ef0b-65ec-267a605d1921"
  "linter-terraform-syntax":
    useTerraformFormat: true
  pigments: {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
